@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

/* Disable Horizontal Scroll */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    height: 100%;
    min-height: 100%;

    background-image: linear-gradient(135deg, #23a6d5, #23d5ab, #e73c7e, #ee7752);
	background-size: 400% 400%;
	animation: shiftGradient 15s ease infinite;
}

@keyframes shiftGradient {
    0%, 100% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
}

section {
    padding: 50px;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 15px;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    overflow: hidden;
}

header a {
    font-family: 'Reem Kufi';
    text-decoration: none;
    text-align: center;
    color: white;
}

header a:hover {
    background-color: darkgray;
}

/* Home */
#home {
    padding: 50px;
    background-color: #f0f0f0;
}

/* Contact */
#contact ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

#contact img {
    max-width: 100px;
}

.zoom img {
    transition: transform .2s;
}

.zoom:hover img {
    transform: scale(1.3);
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
}
