body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

section {
    padding: 50px;
}

/* Header */
.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    text-align: center;
    color: white;
}

.navbar a:hover {
    background-color: darkgray;
}

/* Home */
#home {
    padding: 50px;
    background-color: #f0f0f0;
}

/* Contact */
#contact ul {
    list-style-type: none;
    padding-left: 0;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
}
